/* <footer> */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--cor-preto);
}
footer .social h2 {
  font-family: var(--bold);
  font-size: 1rem;
  color: var(--cor-secundaria-4);
  margin: 0 0 20px 0;
}

footer .uteis {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .texto p {
  font-family: var(--regular);
  font-size: 1rem;
  color: var(--cor-branco);
  text-align: center;
}

