/* <section class="apresentacao"/> */
section.apresentacao {
  display: flex;
  justify-content: center;
  padding: 100px;
  position: relative;
  overflow: hidden;
}
/* Imagem */
section.apresentacao .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  z-index: 2;
}
section.apresentacao .imagem img {
  width: 350px;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 4px 10px 55px #000000bf;
  animation: flutuar 3s ease-in-out infinite alternate;
}
/* animação ma imagem de perfil */
@keyframes flutuar {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1em);
  }
}

/* Texto */
section.apresentacao .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}
section.apresentacao .texto h1 {
  font-family: var(--bold);
  font-size: 3rem;
  line-height: 1;
  background-image: var(--gradient-header);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  max-width: 600px;
}

section.apresentacao .texto h1 > span {
  background-image: var(--gradient-dev);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

section.apresentacao .texto p {
  font-family: var(--medium);
  font-size: 1.2rem;
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 10px 0 20px 0;
  width: 100%;
  max-width: 500px;
  line-height: 1.5;
}
section.apresentacao .texto .botao-link {
  font-family: var(--bold);
  font-size: 1.2rem;
  color: var(--cor-branco);
  background-color: var(--cor-primaria);
  box-shadow: 0 10px 30px 0 var(--cor-primaria);
  padding: 15px 30px;
  border-radius: 10px;
  transition: all 0.3s;
  text-decoration: none; /* Remove sublinhado padrão dos links */
  display: inline-block; /* Para aplicar estilos de bloco */
}

section.apresentacao .texto .botao-link:hover {
  color: var(--cor-secundaria-1);
  background-color: var(--cor-secundaria-4);
  box-shadow: 0 10px 20px 0 var(--cor-primaria);
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  section.apresentacao {
    flex-direction: column;
    padding: 100px 30px 50px 30px;
  }
  /* Imagem */
  section.apresentacao .imagem {
    margin: 50px 0 0 0;
    width: 100%;
  }
  section.apresentacao .imagem img {
    width: 100%;
    max-width: 250px;
  }

  /* Texto */
  section.apresentacao .texto {
    width: 100%;
  }
  section.apresentacao .texto h1 {
    font-size: 2.5rem;
  }

  section.apresentacao .texto button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
