/* <section class="github"/> */
section.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background: radial-gradient(
    circle at 70%,
    var(--cor-preto) 10%,
    var(--cor-primaria) 30%
  );
  background-size: 500% 400%;
  animation: mexendoBackground 7s ease-in-out infinite;
  position: relative;
}
@keyframes mexendoBackground {
  0% {
    background-position: 50% 30%;
  }
  25% {
    background-position: 100% 10%;
  }
  50% {
    background-position: 100% 90%;
  }
  75% {
    background-position: 60% 90%;
  }
  100% {
    background-position: 50% 30%;
  }
}
/* Titulo */
section.github .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 1;
}
section.github .titulo h2 {
  font-family: var(--bold);
  font-size: 2rem;
  line-height: 1;
  color: var(--cor-secundaria-1);
  width: 100%;
  max-width: 700px;
}
section.github .titulo h2 span {
  color: var(--cor-secundaria-4);
}
section.github .titulo p {
  font-family: var(--medium);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--cor-secundaria-1);
  margin: 10px 0 20px 0;
  width: 100%;
  max-width: 800px;
}
section.github .titulo a {
  font-family: var(--bold);
  font-size: 1.2rem;
  color: var(--cor-branco);
  background-color: var(--cor-preto);
  border: 2px solid var(--cor-primaria);
  box-shadow: 0 10px 30px 0 var(--cor-primaria);
  padding: 15px 30px;
  border-radius: 10px;
  transition: all 0.3s;
}
section.github .titulo a:hover {
  color: var(--cor-secundaria-1);
  background-color: var(--cor-primaria);
  box-shadow: 0 10px 20px 0 var(--cor-primaria);
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.github {
    padding: 60px 30px;
  }
  section.github .titulo h2 {
    font-size: 1.5rem;
    max-width: 500px;
  }
  section.github .titulo p {
    max-width: 600px;
    font-family: var(--medium);
    font-size: 1rem;
  }
  section.github .titulo {
    align-items: center;
    text-align: center;
  }
}
