/* <section class="projetos"/> */
section.projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
}
/* Titulo */
section.projetos .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  width: 80%;
}
section.projetos .titulo h2 {
  font-family: var(--bold);
  font-size: 2.5rem;
  background-image: var(--gradient-titulo);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  max-width: 500px;
}
section.projetos .titulo p {
  font-family: var(--regular);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-preto);
  margin: 20px 0 0 0;
  width: 100%;
  max-width: 500px;
}
/* descricao-projeto */
section.projetos .descricao-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-secundaria-2);
  padding: 100px;
}
section.projetos .descricao-projeto .project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  background-color: var(--cor-secundaria-3);
  padding: 30px 20px 30px 80px;
  border-radius: 15px;
  border: 2px solid var(--cor-secundaria-4);
}
section.projetos .descricao-projeto .project:nth-child(2) {
  margin: 20px 0;
}
section.projetos .descricao-projeto .project img {
  position: absolute;
  left: -50px;
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  border: 2px solid var(--cor-primaria);
}
section.projetos .descricao-projeto .project .texto {
  overflow-y: scroll;
  max-height: 80px;
  height: 80px;
  min-height: 80px;
}
section.projetos .descricao-projeto .project .texto p {
  font-family: var(--medium);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-preto);
  padding: 0 20px 0 0;
}
section.projetos .descricao-projeto .project > a {
  font-family: var(--bold);
  font-size: 1rem;
  color: var(--cor-primaria);
  padding: 20px 0 0 0;
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.projetos {
    flex-direction: column;
    min-height: 100%;
  }
  section.projetos .titulo {
    padding: 60px 30px;
    width: 100%;
  }
  section.projetos .titulo h2 {
    font-size: 2.5rem;
    max-width: 300px;
  }
  section.projetos .titulo p {
    font-family: var(--medium);
    font-size: 1.2rem;
    max-width: 400px;
  }
  section.projetos .descricao-projeto {
    min-height: 100%;
    padding: 100px 30px 60px 30px;
  }
  section.projetos .descricao-projeto .project {
    padding: 80px 30px 30px 30px;
    width: 100%;
    max-width: 400px;
  }
  section.projetos .descricao-projeto .project:nth-child(2) {
    margin: 70px 0;
  }
  section.projetos .descricao-projeto .project img {
    left: 30px;
    top: -50px;
  }
  section.projetos .descricao-projeto .project .texto {
    max-height: 100px;
    height: 100px;
    min-height: 100px;
  }
}
