/* <section class="tecnologias"> */
section.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0 80px 0;
  background-image: url("../../../../files/images/background.png");
  background-size: cover;
  background-position: center;
  background-color: var(--cor-secundaria-2);
}


/* Titulo */
section.tecnologias .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 30px;
}
section.tecnologias .titulo h2 {
  font-family: var(--bold);
  font-size: 2.5rem;
  background-image: var(--gradient-titulo);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  max-width: 600px;
}
section.tecnologias .titulo p {
  font-family: var(--regular);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  max-width: 900px;
}
section.tecnologias .titulo .linha {
  width: 2px;
  height: 100px;
  background-color: var(--cor-branco);
}
/* Itens */
section.tecnologias .itens {
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--cor-branco);
  width: 100%;
  flex-wrap: wrap;
  padding: 0 100px;
}
section.tecnologias .itens .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  width: 100%;
  flex: 1;
}
section.tecnologias .itens .item .conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--cor-secundaria-4);
  padding: 60px 20px;
  border-radius: 15px;
}
section.tecnologias .itens .item .conteudo.diferente {
  background-color: transparent;
  border: 2px solid var(--cor-primaria);
}
section.tecnologias .itens .item .conteudo img {
  width: 100%;
  max-width: 150px;
}
section.tecnologias .itens .item .conteudo h2 {
  font-family: var(--bold);
  font-size: 3rem;
  line-height: 1;
  color: var(--cor-primaria);
}
section.tecnologias .itens .item .conteudo h3 {
  font-family: var(--bold);
  font-size: 1.5rem;
  line-height: 1;
  color: var(--cor-branco);
  margin: 10px 0 20px 0;
  width: 100%;
  max-width: 250px;
}
section.tecnologias .itens .item .conteudo p {
  font-family: var(--regular);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-branco);
}
section.tecnologias .itens .item .linha {
  width: 2px;
  height: 150px;
  background-color: var(--cor-primaria);
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.tecnologias {
    padding: 0 0 80px 0;
  }
  section.tecnologias .titulo h2 {
    font-size: 2.5rem;
    max-width: 400px;
  }
  section.tecnologias .titulo {
    text-align: left;
    align-items: flex-start;
    padding: 50px 30px;
  }
  section.tecnologias .titulo .linha {
    display: none;
  }
  section.tecnologias .itens {
    flex-direction: column;
    padding: 0 30px;
  }
  section.tecnologias .itens .item {
    padding: 0;
  }
  section.tecnologias .itens .item .conteudo {
    padding: 40px 30px;
  }
  section.tecnologias .itens .item .linha {
    width: 2px;
    height: 50px;
    background-color: var(--cor-primaria);
  }
}
