/* Personaliza a cor do scroll da página */
html {
  scrollbar-color: var(--cor-primaria) var(--cor-secundaria-1);
  scrollbar-width: thin;
}
::-webkit-scrollbar-track {
  background-color: var(--cor-secundaria-1);
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}